apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  selector:
    app: myapp

  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080


kind: Service
metadata:
  name: myapp-service
spec:
  selector:
    app: myapp

  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
